# unit testing and end-to-end testing tempory files
sqla-sync-state.sqlite.db
e2e-test-state.sqlite.db
functional-test-state.sqlite.db

# surveilr CLI testing
resource-surveillance*.sqlite.db*

# rust-specific
/target
sqlpage/

regression*.sqlite.db